
.vscode/settings.json
__pycache__/food_recognition.cpython-37.pyc
__pycache__/knn.cpython-37.pyc
__pycache__/nn.cpython-37.pyc
__pycache__/nnet.cpython-37.pyc
__pycache__/nnet_feat.cpython-37.pyc
__pycache__/resnet.cpython-37.pyc
__pycache__/svm.cpython-37.pyc
__pycache__/tools.cpython-37.pyc
Documents/example_latex.tex
Stuff/example_extraction.py
Stuff/example_h5.py
Stuff/nnet_feat.py
Stuff/nnet_more.py
Stuff/old_nnet.py
Stuff/old_stuff.py
test_features.csv
test_labels.csv
test_labels_strings.csv
train_features.csv
train_labels.csv
train_labels_strings.csv
trained_network_epoch2.pth
trained_network_epoch5.pth
trained_network_epoch5_lr1e-3.pth
texput.log
trained_network.pth
Stuff/tools_with_h5.py
Stuff/example.py
Stuff/git-commit-sizes.pl
test_features_10x10.csv
test_features_250x10.csv
test_labels_10x10.csv
test_labels_250x10.csv
train_features_100x10.csv
train_features_750x10.csv
train_labels_100x10.csv
train_labels_750x10.csv
